*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "San-Francisco", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

a {
    color: #1E6AAD;
    text-decoration: none;
}

a:focus,
a:hover {
    border-bottom: 1px solid;
    color: #1C5A8D;
}

a:active,
a:focus,
a:focus:active {
    color: #1E598B;
}

.wrapper {
    width: 605px;
    width: 160mm;
    margin: auto;
    position: relative;
}

.dropzone-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30mm;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    color: white;
    transition: opacity .15s, color .2s, background-color .3s;
}

.dropzone-overlay:before {
    content: 'Drop the image to apply';
}

.dropzone-overlay.visible {
    color: black;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
}

.dropzone-overlay.active {
    opacity: 1;
    color: white;
    background-color: rgba(67, 141, 233, 0.7);
}

.items-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20mm;
}

.sticker {
    display: block;
    width: 25mm;
    height: 25mm;
    background-color: white;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.sticker-img {
    width: 100%;
    height: 100%;
    background-image: url('../img/bjorn_trucker.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sticker-dark {
    background-color: #1A1818;
}

.sticker-square {
    width: 25mm;
    height: 25mm;
    padding: 1mm;
}

.sticker-rounded {
    width: 25mm;
    height: 25mm;
    border-radius: 2mm;
    padding: 1mm;
}

.sticker-circle {
    width: 30mm;
    height: 30mm;
    border-radius: 50%;
    padding: 2mm;
}

.sticker-big-circle {
    width: 56mm;
    height: 56mm;
    border-radius: 50%;
    padding: 3mm;
}

.banner {
    width: 160mm;
    height: 214mm;
    padding: 30mm 20mm 66mm;
}